body
{
	background: #f3f3f3!important;
}

.nota
{
	padding: 10px;
	border-radius: 3px;
	-webkit-box-shadow: 1px 1px 2px 1px rgba(0,0,0,0.34);
	-moz-box-shadow: 1px 1px 2px 1px rgba(0,0,0,0.34);
	box-shadow: 1px 1px 2px 1px rgba(0,0,0,0.34);
}